*
!*/
.idea

!env/
!userspace/testsuits-for-oskernel
!userspace/rootfs/*
!docs/*

!.gitignore
!.gdd_binit
!.clang-format
!kernel-qemu
!Makefile
!Makefile.in
!Dockerfile
!Doxyfile
!README
!LICENSE
!CONTRIBUTING
!compile_commands.json

!*.S
!*.s
!*.c
!*.h
!*.cc
!*.cpp

!*.lds

!*.sh

!*.md
!virt_tree.txt
