*
!*/
.idea

!env/
!userspace/testsuits-for-oskernel
!userspace/rootfs/*

!.gitignore
!.gdbinit
!.clang-format
!kernel-qemu
!Makefile
!Makefile.in
!Dockerfile
!compile_commands.json

!*.S
!*.s
!*.c
!*.h
!*.cc
!*.cpp
!*.lds

!*.sh

!*.md
!virt_tree.txt
